.centent {
    display: flex;
    padding: 20rpx;
    box-sizing: border-box;
    border-radius: 20rpx;
    background-color: #fff;
    margin: 20rpx;
    /* height: 400rpx; */
    flex-direction: column;
}
.title_time {
    font-weight: bold;
}
.centent text {
    margin-right: 15rpx;
}
.centent-title {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payment {
    display: flex;
    color: #f68834;
    padding: 0 10rpx;
}
.centent > view {
    margin-bottom: 10rpx;
}
.item {
    display: inline-block;
    width: 22px;
    margin-right: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #1989fa;
    border-radius: 2px;
}
.titname {
    color: rgba(140, 145, 147, 1);
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer button {
    border-radius: 28rpx;
    border: 1px solid rgba(23, 169, 60, 1);
    width: 168rpx;
    height: 56rpx;
    line-height: 52rpx;
    font-size: 25rpx;
    margin: 0;
    color: rgba(23, 169, 60, 1);
}
.price {
    font-weight: bold;
}
.centent-title .payment .item {
    display: inline-block;
    width: 18px;
    margin-right: 0px;
    color: #f68834;
    font-size: 15px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
}
