.concent {
    padding: 15rpx;
}
.card {
    height: 300rpx;
    border-radius: 10rpx;
    background-color: #17a93c;
    overflow: hidden;
}
.card-content {
    background-color: #fff;
}
.card-title {
    color: #fff;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20rpx;
    height: 110rpx;
    line-height: 110rpx;
    background-color: #17a93c;
}
.card-content-item {
    display: flex;
    flex-direction: column;
}
